# Dependencies
node_modules/

# Expo
.expo/
dist/
*.orig.*
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Typescript
*.tsbuildinfo

# Testing
coverage/

# Temporary files
*.log
.cache
temp/

# IDE
.idea/
.vscode/
*.swp
*.swo

# API Keys and sensitive data
src/config/secrets.ts
**/secrets/

# Firebase config (if you want to keep it private)
# google-services.json
# GoogleService-Info.plist